html, body {
    font-family: 'Roboto', sans-serif;
 
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
}

h2 {
    font-weight: 400;
    font-size: 4rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}

h5 {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #a24549;
    border-color: #a24549;
    color: rgba(255, 255, 255, 0.7);;
    padding: 5px 30px;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus {
    background-color: #a24549 !important;
    border-color: #a24549 !important;
}

.title-underline{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #1f2833, #45a29e, #1f2833);
    max-width: 350px;
    margin-bottom: 50px;
}

.fragment {
    padding: 100px 0;
}

.fragment-one {
    /* background-color: #083c5d; */
    /* color: #d98310; */
    background-color: #0b0c10;
    color: #66fCF1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-one h1 {
    margin: 50px 0;
}

.fragment-one h3 {
    margin: 50px 0;
    /* color: #328cc1; */
    color: #45A29E
}

.fragment-one p, .fragment-two p {
    margin-bottom: 0;
}

.fragment-one i {
    margin-bottom:30px;
}

.fragment-two {
    /* background-color: #CBF7ED;
    color: #406E8E; */
    background-color: #45A29E;
    color: #1F2833;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-two h2 {
    font-weight: 300;
    line-height: 1
}

.fragment-two h5 {
    color: #0B0c10;
    margin: 50px 0;
    font-weight: 300;
    line-height: 1.3;
}

.fragment-two p, .fragment-two i {
    color: #1f2833;
}

.fragment-three {
    /* background-color: #328cc1; */
    background-color: #1f2833
}

.fragment-three h3{
    color: #66fcf1;
}

.fragment-three .carousel {
    max-width: 800px;
    align-items:center
}



.carousel {
    margin: auto
}

.fragment-three h5 {
    font-size: 30px;
    font-weight: bold;
}

.fragment-three p {
    font-size: 20px;
}

.fragment-three .carousel-container {
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.fragment-three .carousel-caption {
    color: #0b0c10;
    background: rgba(255,255,255,0.7);
}

.fragment-three .custom-indicator {
    background-color: #a24549 !important;
}

.fragment-three a {
    color: #c5c6c7
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  font-weight: 600;
  color: #a24549;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  font-weight: 600;
  color: #a24549;
}

.fragment-four {
    /* background-color: #cbf7ed;
    color: #406e8e; */
    background-color: #45A29E;
    color: #1F2833
}

.fragment-four h3 {
    color: #1f2833;
}

.fragment-four .title-underline{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #45a29e, #1f2833, #45a29e);
    max-width: 350px;
    margin-bottom: 50px;
}

.fragment-four i {
    color: #66FCF1;
}

.fragment-four .labels {
    color: #657b83;
    margin: 10px;
    text-align: center;
    min-width: 70%;
    background: rgba(	162, 69, 73,0.7)
}

.fragment-four .tech {
    padding: 0.8em;
    color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(	162, 69, 73,0.2);
    border-bottom: 1px solid rgba(	162, 69, 73,0.2);
    border-right: 1px solid rgba(	162, 69, 73,0.2);
    border-left: 1px solid rgba(	162, 69, 73,0.2);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}
.fragment-four .tech:hover {
    transition-duration: 0.3s;
    background: rgba(	162, 69, 73,1)
}


.fragment-five {
    background-color: #1f2833;
    color: #66fcf1;
    padding: 50px;
    text-align: center; 
}

.fragment-five h5 {
    color: #c5c6c7;
    font-weight: 400;
    line-height: 1.3;
}

.fragment-five .credential {
    color: #c5c6c7;
    margin-bottom: 50px;
    font-weight: 400;
}

.fragment-six {
    /* background-color: #cbf7ed;
    color: #406e8e; */
    background-color: #45a29e;
    color: #1f2833;
    padding: 50px;
    text-align: center; 
}

.fragment-six .title-underline{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #45a29e, #1f2833, #45a29e);
    max-width: 350px;
    margin-bottom: 20px;
}

.fragment-six a {
    color: #c5c6c7
}

.fragment-six h5 {
    font-weight: 400;
    line-height: 1;
}


.fragment-seven {
    /* background-color: #083c5d; */
    background-color: #0b0c10;
    padding: 20px;
}

.fragment-seven a {
    color: #1f2833;
}

.fragment-seven h6 {
    /* color: #d98310; */
    color: #66FCF1;
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
    /* letter-spacing: 2px; */
}
.fragment-seven .social-icon {
    /* color: #328cc1; */
    color: #45a29e;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-bottom: 20px;
}
